---
import { Image } from "astro:assets";
import githubOutlined from "./assets/github-outlined.svg";
import githubFilled from "./assets/github-filled.svg";
import linkedinOutlined from "./assets/linkedin-outlined.svg";
import linkedinFilled from "./assets/linkedin-filled.svg";
import instagramOutlined from "./assets/instagram-outlined2.svg";
import instagramFilled from "./assets/instagram-filled2.svg";

const today = new Date();

const socials = [
	{ name: "Github", url: "https://github.com/alex-k-exe/", outlinedLogo: githubOutlined, filledLogo: githubFilled },
	{ name: "Linkedin", url: "https://linkedin.com/in/alexkammin/", outlinedLogo: linkedinOutlined, filledLogo: linkedinFilled },
	{ name: "Instagram", url: "https://www.instagram.com/weirdnerdthings", outlinedLogo: instagramOutlined, filledLogo: instagramFilled },
];
---

<footer>
	&copy; {today.getFullYear()} Alex Kammin. All rights reserved.
	<div class="social-links">
		{
			socials.map((social) => (
				<a href={social.url} class="icon-link" target="_blank">
					<Image src={social.outlinedLogo} alt={`Outlined ${social.name} logo`} width={60} height={60} class="icon default" />
					<Image src={social.filledLogo} alt={`Filled in ${social.name} logo`} width={60} height={60} class="icon hover" />
				</a>
			))
		}
	</div>
</footer>

<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}

	.social-links {
		display: flex;
		justify-content: center;
		gap: 2em;
		margin-top: 1em;
	}

	.icon.hover {
		display: none;
	}

	.icon-link:hover .icon.default {
		display: none;
	}

	.icon-link:hover .icon.hover {
		display: inline;
	}
</style>
